
html{
	font-size: 62.5%;
} 



body{
	font-family: $primaryFont;
	color: white;
	background: linear-gradient( rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.45)), url('../styles/assets/lakeParty.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1{
	font-size: 50px;
	color: orange;
}

h2{
	font-size: 32px;
	color: black;
}


	@media (max-width: 768px) {
		h1{
			font-size: 37px;
		}
		h2{
			font-size: 28px;
		}
	}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
	color: black;
}

main p{
	font-size: 16px;
}

label{
	font-size: 20px;
}

input{
	width: 305px;
	font-size: 15px;
	margin: 15px auto;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 2px 10px #14171f;
}

span{
	font-size: 20px;
}


ul{
	list-style: none;
	margin:0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

li{
	width: 30%;
	background: seagreen;
	border-radius: 10px;
	color: white;
	margin: 10px 0;
}



	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		li{
			width: 48%;
		}
	}

	/* Landscape phones and down */
	@media (max-width: 480px) {
		li{
			width: 100%;
		}
		h3{
			font-size: 25px;
		}
		h4{
			font-size: 17px;
		}
	}

main{
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 90%;
    margin: 0 auto;
}

a{
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 5px lightseagreen;
}

form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.pageOneWrapper{
	color: black;
}

.formFlexContainer{
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}




.formItemOne, .formItemTwo{
	display: flex;
    flex-direction: column;
}
.flexOneTwo{
	display: flex;
    justify-content: space-around;
}

	/* Portrait tablet and small desktops */
	@media (max-width: 940px) {
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		.flexOneTwo{
			flex-direction: column;
		}
	}

	/* Landscape phones and down */
	@media (max-width: 480px) {
	}

.formItemThree{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.formItemFour{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.formItemFour label{
	font-size:25px;
}

.formItemFour input{
	width: 305px;
	font-size: 15px;
	margin: 15px auto;
	border-radius: 4px;
	border: none;
	padding: 12px;
	background: none;
	box-shadow: 1px 2px 10px #14171f;
	background: darkcyan;
	transition-duration: 0.4s;
    cursor: pointer;
}

.formItemFour input:hover{
	padding: 14px;
    font-size: 17px;
    color: white;
    box-shadow: 2px 2px 10px black;
}



.linkShare{
	margin: 20px auto;
}

.linkText{
	font-size: 22px;
	font-size: 22px;
	background: orange;
	padding: 10px;
	width: 543px;
	margin: 0 auto;
	border-radius: 10px;
}















